html, body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  height: 100%;
  width: 100vw;
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  height: 10pt;
  width: 10pt;
  border: solid 5px transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: solid 5px transparent;
  box-shadow: inset 0 0 10px 10px #222222;
}

::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0);
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.inverted {
  filter: invert(1);
}

.start-screen {
  height: 100%;
  overflow: auto;
  overflow-y: overlay;
}

.start-button {
  background-color: #3498db;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  top: 10px;
  right: 15px;
  position: fixed;
  transition: .5s;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.start-button:hover {
  background-color: #2980b9;
  transition: .5s;
}

.start-button:disabled {
  background-color: rgb(115, 115, 115);
  cursor: not-allowed;
}

.loading-icon {
  width: 20px;
  height: 20px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: url(../textures/FlightSimulator2.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.headerContent {
  position: sticky;
  top: 0;
  margin-top: 70vh;
  width: fit-content;
}

.headerContent svg {
  width: 100%;
}

.headerContent p {
  color: white;
}

.headerContent p span {
  color: #FF0033;
}

.shadow {
  -webkit-filter: drop-shadow( 4px 4px 3px rgba(34, 34, 34, .7));
  filter: drop-shadow( 4px 4px 3px rgba(34, 34, 34, .7));
  max-width: 80vw;
}

.section {
  width: 100%;
  padding: 40px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#features .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  background-color: #ffffff;
  min-height: 100vh;
  width: fit-content;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: auto;
}

.section h2 {
  color: #222222;
  font-size: 30px;
  margin: 20px 0;
}

.section table {
  border-spacing: 0;
  white-space: nowrap;
  width: 100%;
}

.section table :is(td, th) {
  padding: 6px;
}

.section table thead :is(td, th) {
  border-bottom: 1px solid;
}

.section table tbody tr :first-child {
  text-align: center;
}

.section table tbody tr:not(:last-of-type) :is(td, th) {
  border-bottom: 1px solid;
}

.section button {
  background-color: #222222;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px black;
}

#documentation {
  background-color: #222222;
  color: white;
}

#documentation h2 {
  color: white;
}

#documentation button {
  background-color: #FFFFFF;
  color: #222222;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #222222;
  padding: 6px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  transition: .5s;
}

#documentation button:hover {
  background-color: #DADADA;
  color: #222222;
  transition: .5s;
}

#documentation .itemCollection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  gap: 30px;
}

#documentation .itemCollection .item {
  display: grid;
  grid-template-rows: 25% 75%;
  width: 250px;
  height: 300px;
  border-radius: 10px;
  background-color: #111111;
  transition: 0.5s;
  text-decoration: none;
  color: white;
}

#documentation .itemCollection .item:hover {
  box-shadow: 0 0 10px white;
  transform: scale(1.02);
  transition: 0.5s;
}

#documentation .itemCollection .item h3 {
  align-self: flex-end;
  justify-self: center;
  /* font-size: 25px; */
}

#documentation .itemCollection .item img {
  max-width: 80%;
  max-height: 75%;
  border-radius: 10px;
  align-self: center;
  justify-self: center;
  background-size: cover;
  background-position: center;
}

#documentation .itemCollection .item a {
  align-self: center;
  justify-self: center;
}

footer {
  padding: 20px 20px;
  background-color: #DADADA;
}

#info-div {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  visibility: hidden;
  background-color: #222222;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px black;
}