body {
    margin: 0;
}

.loading-icon {
    width: 30px;
    height: 30px;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    top: 70px;
    right: 10px;
    position: fixed;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.start-screen {

    
}

.start-button {
    background-color: #3498db;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    position: fixed;
}

.start-button:hover {
    background-color: #2980b9;
}

.start-button:disabled {
    background-color: rgb(115, 115, 115);
    cursor: not-allowed;
}

