html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Nunito Sans', sans-serif;
}

.gameOverScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  cursor: initial;
}

.gameOverContent {
  width: fit-content;
  height: fit-content;
  background-color: #222222;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px black;
}

.gameOverDiv {
  font-size: 60px;
  text-align: center;
}

.controlPanel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.controlPanel button {
  background-color: #FFFFFF;
  color: #222222;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #222222;
  padding: 6px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  transition: .5s;
}

.controlPanel button:hover {
  background-color: #DADADA;
  color: #222222;
  transition: .5s;
}

.controlPanel .restartButton:hover {
  background-color: #3498DB;
}

.controlPanel .exitButton:hover {
  background-color: #E74C3C;
}